<h1>Categories</h1>

<ul>
	<% @categories.each do |c| %>
	<li><%= c.name %></li>
	<li><%= link_to "show", category_path(c.id) %></li>
	<li><%= link_to "delete", [c], method: :destoy, data: {confirm: "are you sure?"} %>
	<% end %>
</ul>